<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jump Tutoring - Availabilities</title>
        <%- include('partials/header1.ejs') %>    
        <style>
            body {
            background-image: url("/public/images/stationary.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
        }
        </style>
       
    </head>
    
    <body>
        <% if (isLoggedIn && isAdmin) { %>
            <%- include('partials/navbar3.ejs') %>
        <% } else if (isLoggedIn) { %>
            <%- include('partials/navbar2.ejs') %> 
        <% } else {%>
            <%- include('partials/navbar1.ejs') %> 
        <% } %>
        
        <div class="container">

        <h1 class="heading-padding">Available Times</h1>  
            <br>
            <table class="table sub-time-table">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Class Time</th>                                        
                    </tr>
                </thead>

                <tbody>

                <% if (timesData.length !=0) {var i=1; timesData.forEach(function(data){
                    %>

                    <tr>
                        <td><%=data.subject %></td>
                        <td><%=data.class_time%></td>                    
                    </tr>
                    <% i++; }) %> <%}%>

                </tbody>
                
            </table>

            <br>
            <p>If your preferred time is not listed above,
                please <a href="/enquire">enquire</a> here or send us an 
                <a href="mailto:lucythetutor007@gmail.com">email</a>.</p>
                <br>
                <% if (!isLoggedIn) { %>
                <p>Please <a href="/login">login</a> or <a href="/login">register</a> to book a session.</p>
                <% } %>
        </div>     
    </body>
    <br>

    <footer>
        <%- include('partials/footer1.ejs') %>
    </footer>

</html>